.collectionWrapper {
    background-color: #f8f8f8;

}

.collections{
    padding: 15px 0px 40px;
}
.collectionSubTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.collectionSubText{
    color:#363636;
    font-size: 15px;
}

.location {
    color:#ff7e8b;
    display: flex;
}
.collectionCover {
    height: 320px;
    width: 260px;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
}
.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.05) 85%);
    top:0;
    left:0;
    border-radius: 6px;
}

.collectionImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;

}

.collectionCardTitle {
    position: absolute;
    left:16px;
    bottom: 30px;
    font-size: 18px;
    color:white;

}

.collectionCardSub{
    display: flex;
    color:white;
    position: absolute;
    left:16px;
    bottom: 10px;
    font-size: 14px;
}
